@*
    * Copyright 2020 d-fens GmbH
    *
    * Licensed under the Apache License, Version 2.0 (the "License");
    * you may not use this file except in compliance with the License.
    * You may obtain a copy of the License at
    *
    * http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing, software
    * distributed under the License is distributed on an "AS IS" BASIS,
    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    * See the License for the specific language governing permissions and
    * limitations under the License.
    */*@

@model biz.dfch.CS.SampleIPA.StockManagement.Models.CreateViewModel

<h1>Erstellen</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.MaterialNumber" class="control-label"></label>
                <input asp-for="Product.MaterialNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.Quantity" class="control-label"></label>
                <input asp-for="Product.Quantity" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.PricePerPiece" class="control-label"></label>
                <input asp-for="Product.PricePerPiece" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.WeightInKg" class="control-label"></label>
                <input asp-for="Product.WeightInKg" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.Category" class="control-label"></label>
                @Html.DropDownListFor(m => m.SelectedCategoryName, new SelectList(Model.Categories), "Kategorie Wählen ...")
            </div>
            <div class="form-group">
                <input type="submit" value="Bestätigen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zur Liste</a>
</div>