@model biz.dfch.CS.SampleIPA.StockManagement.API.Models.Products

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialNumber" class="control-label"></label>                
            </div>
            <div class="form-group">
                <p asp-for="Quantity">@Html.DisplayNameFor(model => model.Quantity): @Html.DisplayFor(model => model.Quantity)</p>                
            </div>
            <div class="form-group">
                <label asp-for="PricePerPiece" class="control-label"></label>
                <input asp-for="PricePerPiece" class="form-control" />
                <span asp-validation-for="PricePerPiece" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightInKg" class="control-label"></label>
                <input asp-for="WeightInKg" class="form-control" />
                <span asp-validation-for="WeightInKg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}